doctype 5
html
  head
    title To Sign-Aew
    script(src="/js/jquery-1.12.3.min.js")
    script(src="/materialize/js/bin/materialize.js")
    
    script(src="/js/mid.js")
    link(rel='stylesheet', href='/materialize/css/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  
    
  body
    .navbar-fixed
      nav
        .nav-wrapper(class="#f50057 pink accent-3")
          a.brand-logo.center( id="SlogoHeader" ) To Sign Aew 
    #header
    #content
      .container
        block content
    #footer
      // a(href="http://facebook.com") Desmonitus
    script
        onReady()